.order_list {
  font-size: 13px !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
}
.top_line {
  flex: none;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 1px !important;
  background: #ccc;
}
.orderlist .order_list_search {
  /* height: 35px; */
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
  margin: 6px 0;
  width: 100% !important;
}
.orderlist .order_list_search .serve_select {
  flex: 1;
}
.order_list_content {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.order_list_list {
  /* margin-top: 15px;
  flex: 1;
  height: 0;
  overflow: auto;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25); */
}
.orderlist /deep/ .el-table .cell {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.orderlist /deep/ .el-table .cell .el-button {
  margin-left: 8px;
  margin-bottom: 5px;
}
.order_list_search {
  display: flex;
  width: 100%;
}
.order_list_search .input-with-select {
  width: 300px !important;
}
/* .input_label {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 25px;
}
.input_label .input_label_title {
  flex: none;
  margin-right: 10px;
}
.input_label > .el-select {
  margin: 0 5px;
}
.input_label /deep/ .el-cascader {
  flex: 1;
  width: 100%;
} */
