/* 创建模板组件 */
.finance_list {
  font-size: 13px !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
}
.top_line {
  flex: none;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 1px !important;
  background: #ccc;
}

.finance_list_list {
  /* margin-top: 15px;
  flex: 1;
  height: 0;
  overflow: auto;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25); */
}
.financeTemplate /deep/ .el-table .cell {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.financeTemplate /deep/ .el-table .cell .el-button {
  margin-left: 8px;
  margin-bottom: 5px;
}
.financeTemplate .order_list_search {
  display: flex;
  min-width: 1500px;
}
.financeTemplate .input_label {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 25px;
}
.financeTemplate .input_label .input_label_title {
  flex: none;
  margin-right: 10px;
}
.financeTemplate .input_label > .el-select {
  margin: 0 5px;
}
