.top_line {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 1px;
  background: #ccc;
}
.prod_list {
  width: 100%;
  height: calc(100% - 40px);
}
.prod_list_content {
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.prod_list_type {
  -ms-flex: none;
  flex: none;
  width: 240px;
  border-right: 1px solid #ccc;
  padding-right: 5px;
  overflow-y: auto;
}
.prod_list_list {
  width: 100%;
}
.prod_list .prod_attr_button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 15px;
}
