
.operatebtn{
    display:flex;
    align-items: center;
}
.editbtn{
    color:#0066FF;
    font-size: 13px;
    margin-right:10px;
    cursor: pointer;
}
.delbtn{
    color:#FF0000;
    font-size: 13px;
    cursor: pointer;
}
.addreplay{
    width:1330px;
    display:flex;
    justify-content: flex-end;
}

.actfooter{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.initatestatus{
    padding-left: 12px;
}
.processtable .cell{
    text-align: center;
}